.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}



.sectionLeft {
  text-align: left;
}


.container, footer, .font {
  font-family: 'Gill Sans', 'Gill Sans MT', 'Serif', sans-serif;
}
  
.inputBox {
  border-color: black;
  border-width: 1px;
}

.banner {
  background-color: lightgray;

}

.top-rounded {
  border-top-left-radius: 25px;
  border-top-right-radius: 25px;
}

.bottom-rounded {
  border-bottom-left-radius: 25px;
  border-bottom-right-radius: 25px;
}

.photos {
  width: 400px;
}

.question {
  font-size: 0.7em;
  color: black;
  font-weight: bold;
  border-radius: 50%;
  margin-left: 5px;
  border-width: 1px;
  vertical-align: middle;
}

.inline {
  display: inline-block;
  margin: 0;
}

.inline2 {
  display: inline-block;
  float:none;
  text-align:center;
  margin: 0;
}



.center {
  justify-content: center;
  align-items: center;
  text-align: center;
}

.fixedWidth {
  max-width: 400px;
  margin: 0 auto;
}

ul {
  padding-left: 20px;
  margin-left: 0;
}

figure {
  padding-left: 0;
  margin-left: 0;
}

.action {
  margin: 10px;
}

button {
  cursor: pointer;
}

dialog {
  width: 400px;
}

.columnHeadings {
  display: flex;
  justify-content: space-between;
  width: 100%;
}

input {
  float: left;
}

input[type="number"] {
  width: 50px;
}



label {
  display: block;
  margin-left: 28px;
}

h2 {
  margin-bottom: 5px;
}

p {
  margin-top: 0;
}

.units {
  font-size: 0.8em;
  margin-left: 5px;
}

.small_left {
  font-size: 0.8em;
  margin-left: 0;
}

.statusTable {
  border-spacing: 8px 0;
  text-align: left;
}

.statusTable th, .statusTable td { 
  padding: 4px;
}



.statusTable .underline {
  border-bottom: 2px solid black;
  
}

.recommendedTable .underline {
  border-bottom: 4px solid black;
}

.statusTable .side-borders {
  border-left: 2px solid black;
  border-right: 2px solid black;
}

.recommendedTable, .recommendedTable th, .recommendedTable td { 
  border: 1px solid black; 
  border-collapse: collapse;
  padding-left: 4px;
  padding-right: 4px;
}
/*
.recommendedTable tr:nth-child(even) {
  background-color: #d793ce;
}

.recommendedTable th, .recommendedTable tr:nth-child(even) {
  background-color: #6b1bec7a;
}
*/
tr {
  -webkit-transition: opacity 2s;
  -moz-transition: opacity 2s;
  -o-transition: opacity 2s;
  transition: opacity 2s;
}

.cursive {
  font-family: cursive;
}

footer a, footer span {
  font-size: 0.8em;
}

footer {
  text-align: center;
  margin-top: 30px;
  margin-bottom: 15px;
}

.help-section h2 {
  font-size: 1.1em;
}

.help-section h1 {
  text-decoration-line: underline;
}



.decon-section {
  display: none;
}

.deconSection:checked ~ .decon-section {
  display: block;
}

.relative {
  position: relative;
}



.symbols {
  font-size: 13px; /*1.0em;*/
  color: black;
  font-weight: bold;
  height: 24px; /*1.8em;*/
  width: 24px;/*1.8em;*/
  border-radius: 5px;
  vertical-align: middle;
  border-width: 1px;
  padding: 0;
  margin: 0;
}

.fc-container {
    position: relative;
}

.fc-target-up {
  position: absolute;
  top: 115px;
  right: 43px;
}

.fc-target-edit {
  position: absolute;
  top: 147px;
  right: 43px;
}

.fc-target-down {
  position: absolute;
  top: 178px;
  right: 43px;
}

.fc-target {
  position: absolute;
  top: 150px;
  right: 382px;
}

.fc-max {
  position: absolute;
  top: 195px;
  right: 382px;
}

.fc-min {
  position: absolute;
  top: 238px;
  right: 382px;
}

.row {
  display: flex;
  flex-wrap: wrap;
  padding: 0 0px;
}

/* Create four equal columns that sits next to each other */
.column {
  flex: 25%;
  max-width: 25%;
  padding: 0 0px;
}

.column img {
  margin-top: 8px;
  vertical-align: middle;
  width: 100%;
}

/* Responsive layout - makes a two column-layout instead of four columns */
@media screen and (max-width: 200px) {
  .column {
    flex: 50%;
    max-width: 50%;
  }
}

/* Responsive layout - makes the two columns stack on top of each other instead of next to each other */
@media screen and (max-width: 100px) {
  .column {
    flex: 100%;
    max-width: 100%;
  }
}
