.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
  
.statusLight {
  border: 1px solid #000000;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  display: inline-block;
}

.action {
  margin: 10px;
}

button {
  cursor: pointer;
}

.columnHeadings {
  display: flex;
  justify-content: space-between;
  width: 100%;
  margin: 10px;
  /*style: inline; - style is not a valid CSS property*/
}

input {
  float: left;
}

input[type="number"] {
  width: 80px;
}

label {
  display: block;
  margin-left: 28px;
}

.cell {
  justify-content: center;
  align-items: center;
}
th, td { 
  border: 4px solid black; 
  border-radius: 8px;
}

.cyaOutline {
  border: 12px ridge lightgray;
  border-radius: 8px;
}

.chlorineOutline {
  border: 12px ridge yellow;
  border-radius: 8px;
}

.phOutline {
  border: 12px ridge rgb(253, 162, 162);
  border-radius: 8px;
}

.taOutline {
  border: 12px ridge rgb(0, 165, 0);
  border-radius: 8px;
}

.chOutline {
  border: 12px ridge blue;
  border-radius: 8px;
}

.filterOutline {
  border: 12px ridge black;
  border-radius: 8px;
}

.statusSummary {
  border: 0;
  justify-content: center;
  align-items: center;
}

.setupTables {
  border: 1px solid black;
  border-collapse: collapse;
  border-radius: 8px;
}