.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}



.sectionLeft {
  text-align: left;
}


.container, footer, .font {
  font-family: 'Gill Sans', 'Gill Sans MT', 'Serif', sans-serif;
}
  
.symbols {
  font-size: 1.0em;
  color: black;
  font-weight: bold;
  height: 1.8em;
  width: 1.8em;
  border-radius: 10%;
  vertical-align: middle;
  border-width: 1px;
}

.inputBox {
  border-color: black;
  border-width: 1px;
}

.banner {
  background-color: lightgray;

}

.top-rounded {
  border-top-left-radius: 25px;
  border-top-right-radius: 25px;
}

.bottom-rounded {
  border-bottom-left-radius: 25px;
  border-bottom-right-radius: 25px;
}

.photos {
  width: 400px;
}

.question {
  font-size: 0.7em;
  color: black;
  font-weight: bold;
  border-radius: 50%;
  margin-left: 5px;
  border-width: 1px;
}

.inline {
  display: inline-block;
  margin: 0;
}

.inline2 {
  display: inline-block;
  float:none;
  text-align:center;
  margin: 0;
}



.center {
  justify-content: center;
  align-items: center;
  text-align: center;
}

.fixedWidth {
  max-width: 400px;
  margin: 0 auto;
}

ul {
  padding-left: 20px;
  margin-left: 0;
}

figure {
  padding-left: 0;
  margin-left: 0;
}

.action {
  margin: 10px;
}

button {
  cursor: pointer;
}

dialog {
  width: 400px;
}

.columnHeadings {
  display: flex;
  justify-content: space-between;
  width: 100%;
}

input {
  float: left;
}

input[type="number"] {
  width: 50px;
}



label {
  display: block;
  margin-left: 28px;
}

h2 {
  margin-bottom: 5px;
}

p {
  margin-top: 0;
}

.units {
  font-size: 0.8em;
  margin-left: 5px;
}

.small_left {
  font-size: 0.8em;
  margin-left: 0;
}

.statusTable {
  border-spacing: 8px 0;
  text-align: left;
}

.statusTable th, .statusTable td { 
  padding: 4px;
}



.statusTable .underline {
  border-bottom: 2px solid black;
  
}

.recommendedTable .underline {
  border-bottom: 4px solid black;
}

.statusTable .side-borders {
  border-left: 2px solid black;
  border-right: 2px solid black;
}

.recommendedTable, .recommendedTable th, .recommendedTable td { 
  border: 1px solid black; 
  border-collapse: collapse;
  padding-left: 4px;
  padding-right: 4px;
}
/*
.recommendedTable tr:nth-child(even) {
  background-color: #d793ce;
}

.recommendedTable th, .recommendedTable tr:nth-child(even) {
  background-color: #6b1bec7a;
}
*/
tr {
  -webkit-transition: opacity 2s;
  -moz-transition: opacity 2s;
  -o-transition: opacity 2s;
  transition: opacity 2s;
}

.cursive {
  font-family: cursive;
}

footer a, footer span {
  font-size: 0.8em;
}

footer {
  text-align: center;
  margin-top: 30px;
  margin-bottom: 15px;
}

.help-section h2 {
  font-size: 1.1em;
}

.help-section h1 {
  text-decoration-line: underline;
}



.decon-section {
  display: none;
}

.deconSection:checked ~ .decon-section {
  display: block;
}

.relative {
  position: relative;
}

.menu-container-container {
    position: absolute;
    top: 10px;
    right: 10px;
}

.menu-container {
    position: relative;
}

.menu-button {
    background: none;
    border: none;
    cursor: pointer;
    display: flex;
    flex-direction: column;
}

.menu-button span {
    width: 30px;
    height: 4px;
    background: rgb(255, 255, 255);
    margin: 4px 0;
}

h4 {
    margin: 0;
    padding: 0;
}

.dropdown-menu {
    display: none;
    position: absolute;
    top: 40px;
    right: 0;
    width: 380px;
    text-align: left;
    background-color: white;
    border: 1px solid #ccc;
    z-index: 1;
}

.dropdown-menu a {
    display: block;
    padding: 3px;
    text-decoration: none;
    color: black;
}

.dropdown-menu a:hover {
    background-color: #fad660;
}

/*
.left {
  font-size: 0.8em;
  align-content: left;
}

.right {
  font-size: 0.8em;
  align-content: right;
}
  */

/* TBD meter labels below do not show on iPhone Safari or Desktop Firefox 

.meter7, .meter30 {
  position: relative;
}

.meter7::before, .meter30::before {
  content: '0';
  font-size: 0.8em;
  position: absolute;
  top: -100%;
}

.meter7::after {
  content: '7';
  font-size: 0.8em;
  position: absolute;
  top: -100%;
  right: 0;
}

.meter30::after {
  content: '30';
  font-size: 0.8em;
  position: absolute;
  top: -100%;
  right: 0;
}*/