.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.container, footer {
  font-family: 'Gill Sans', 'Gill Sans MT', 'Serif', sans-serif;
}
  
.statusLight {
  border: 1px solid #000000;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  display: inline-block;
}

.symbols {
  font-size: 1.0em;
  color: black;
  font-weight: bold;
}

.inline {
  display: inline-block;
  margin: 0;
}

.center {
  justify-content: center;
  align-items: center;
  text-align: center;
}

.action {
  margin: 10px;
}

button {
  cursor: pointer;
}

.columnHeadings {
  display: flex;
  justify-content: space-between;
  width: 100%;
}

input {
  float: left;
}

input[type="number"] {
  width: 50px;
}

label {
  display: block;
  margin-left: 28px;
}

.cell {
  justify-content: center;
  align-items: center;
}

h2 {
  margin-bottom: 5px;
}

p {
  margin-top: 0;
}

.units {
  font-size: 0.8em;
  margin-left: 5px;
}

.statusTable {
  border-spacing: 8px;
}

.statusTable .underline {
  border-bottom: 2px solid black;
  
}

.recommendedTable, .recommendedTable th, .recommendedTable td { 
  border: 1px solid black; 
  border-collapse: collapse;
  padding-left: 4px;
  padding-right: 4px;
}

tr {
  -webkit-transition: opacity 2s;
  -moz-transition: opacity 2s;
  -o-transition: opacity 2s;
  transition: opacity 2s;
}

.cursive {
  font-family: cursive;
}

footer, a {
  text-align: center;
  font-size: 0.8em;
  margin-top: 30px;
  margin-bottom: 15px;
}

 /* Tooltip container 
 .tooltip {
  position: relative;
  display: inline-block;
  border-bottom: 1px dotted black; 
}*/

/* Tooltip text 
.tooltip .tooltiptext {
  visibility: hidden;
  width: 120px;
  background-color: #555;
  color: #fff;
  text-align: center;
  padding: 5px 0;
  border-radius: 6px;*/

  /* Position the tooltip text 
  position: absolute;
  z-index: 1;
  bottom: 125%;
  left: 50%;
  margin-left: -60px;*/

  /* Fade in tooltip 
  opacity: 0;
  transition: opacity 0.3s;
}*/

/* Tooltip arrow 
.tooltip .tooltiptext::after {
  content: "";
  position: absolute;
  top: 100%;
  left: 50%;
  margin-left: -5px;
  border-width: 5px;
  border-style: solid;
  border-color: #555 transparent transparent transparent;
}*/

/* Show the tooltip text when you mouse over the tooltip container 
.tooltip:hover .tooltiptext {
  visibility: visible;
  opacity: 1;
} */